<p>
  Let me start by introducing myself, I'm Tom a recent graduate of a coding bootcamp. I went to Le Wagon in Rio de Janeiro to learn how to code, giving up my cushy quality assurance job working for a major petrochemical company. This was one of the most terryfing decisions I have ever made but it has been one of the best in my life. There has not been a single thing in my life that has giving me the joy (besides my daughter) that coding does. It provides a nice challenge and it constantly requires you to continue learning.
</p>
<p>
  I am currently location independent and I am flexible to go anywhere in the United States for work. At the moment I am located in the Charlotte, NC area. If you want to learn more about my previous careers you can check out my <strong><%= link_to 'resume', 'images/resume.pdf', target: '_blank' %></strong> which will show you the very untraditional path that I have taken to get to this point in my life.
</p>
<p>
  Currently I am working on a project for a non profit to redo there website. I have also been studying for the AWS Certified Solutionts Architect - associate and the AWS Certified Developer - Associate Certificates. I have also been setting aside at least an hour a day to learn React and Redux.
</p>

<p>
  If you have any other questions feel free to <Strong><%= link_to 'Contact Me', '#contactMe' %></Strong> and I will get back to you shortly!
</p>
