
<div class="col-xs-12 col-sm-6">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../images/atlantico-hub.png');">
    <div class="card-description">
      <h2>Atlantico Hub</h2>
      <p>Intelligent Guarantee Selection</p>
    </div>
    <a class="card-link" href="http://www.atlanticohub.com" target="_blank" ></a>
  </div>
</div>
<div class="col-xs-12 col-sm-6" >
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../images/form.png');">
    <div class="card-description">
      <h2>Simple Form</h2>
      <p>Check it out!</p>
    </div>
    <a class="card-link" href="https://tpdoyle87.github.io/quiz/" target="_blank" ></a>
  </div>
</div>
<div class="col-xs-12 col-sm-6">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../images/profile.png');">
    <div class="card-description">
      <h2>Thomas Doyle-Engler</h2>
      <p>Profile</p>
    </div>
    <a class="card-link" href="https://tpdoyle87.github.io/profile/" target="_blank" ></a>
  </div>
</div>
<div class="col-xs-12 col-sm-6">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../images/cruise.png');">
    <div class="card-description">
      <h2>Cruise</h2>
      <p>Rent a bike today!</p>
    </div>
    <a class="card-link" href="https://cruise-today.herokuapp.com" target="_blank" ></a>
  </div>
</div>
