<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="#aboutMe" class="navbar-wagon-item navbar-wagon-link">About Me</a>
    <a href="#projects" class="navbar-wagon-item navbar-wagon-link">Projects</a>
    <a href="#contactMe" class="navbar-wagon-item navbar-wagon-link">Contact Me</a>
    <a href="/images/resume.pdf" class="navbar-wagon-item navbar-wagon-link" target="_blank">Résumé</a>


  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#aboutMe">About Me</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contactMe">Contact Me</a></li>
        <li><a href="/images/resume.pdf" target="_blank">Résumé</a></li>
      </ul>
    </div>
  </div>
</div>
