html {
  scroll-behavior: smooth;
  position: relative;
}
 body {
  background-color: #32383C;
 }

 h1, h2, h3, h4, h5, h6, p, label {
  color: white;
 }
a {
  color: #da552f;
  &:hover {
    color: white;
  }
}
