<div class="wrapper">
  <%= partial 'layouts/banner' %>
  <div class="container">
    <div class="row">
      <h2 class="text-center">
        About Me
      </h2>

    </div>
    <div class="row">
      <h2 class="text-center">
        Projects
      </h2>
    </div>
    <hr>
    <div class="row">
      <h2 class="text-center">
        Contact Me
      </h2>
    </div>
    <hr>
  </div>
  <%= partial 'layouts/footer' %>
</div>
